/* App.css */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.App {
    background-color: #0C0B0B;
    height: 420vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}